In [1]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
import time
import pickle
import os
from  data.pathsandmore import pathname

DATA_LOCATION='https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95/about_data'

crashes=pd.read_csv(pathname,dtype={'ZIP CODE': str},
                   parse_dates=["CRASH DATE"])
#fixing columns names
crashes.columns=[col.replace(' ','_').lower() for col in crashes.columns]
crashes.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,cross_street_name,off_street_name,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2021-09-11,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11,9:35,BROOKLYN,11208,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14,8:13,BROOKLYN,11233,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [4]:
#fixing columns names
crashes.columns=[col.replace(' ','_').lower() for col in crashes.columns]
#checking time
max_hour=max([int(x.split(':')[0]) for x in crashes.crash_time])
min_hour=min([int(x.split(':')[0]) for x in crashes.crash_time])
print(f"the latest hour is {max_hour} and the earliest one is {min_hour}")
max_minute=max([int(x.split(':')[1]) for x in crashes.crash_time])
min_minute=min([int(x.split(':')[1]) for x in crashes.crash_time])
print(f"the latest hour is {max_minute} and the earliest one is {min_minute}")

the latest hour is 23 and the earliest one is 0
the latest hour is 59 and the earliest one is 0

In [5]:
#checking nulls
crashes.isnull().sum()/len(crashes)
%pwd

'/Users/fcbnyc/mystuff/repos/NYCAccidents'

In [6]:

nulls_in_boroughs=crashes[(crashes.borough.isnull()) & (crashes.latitude.notnull())].shape[0]
print(f"These are the number of nulls in borough but that I have lat and long: {nulls_in_boroughs}")

These are the number of nulls in borough but that I have lat and long: 462052

In [ ]:
geolocator = Nominatim(user_agent="alex.chicote.larregola@gmail.com")
pkl=[file for file in os.listdir() if file.endswith('.pkl')]
with open(pkl[0],'rb') as f:
    all_dict=pickle.load(f)
initial=all_dict['last_row']



batch=input('How many for this go around? ')
final=final=initial+int(batch)
df=all_dict['info'].iloc[initial:final]
idx=df.index
count=0
for row in idx:
    #print(row)
    count+=1
    if count%5==0:
        print(row,count)
    location = geolocator.reverse((df.loc[row, 'latitude'],df.loc[row,'longitude']), exactly_one=True)
    #print(type(all_dict['df']),type(location))
    time.sleep(1)
    if location:
        all_dict['df'].loc[row,'address']=location[0]
    else:
        all_dict['df'].loc[row,'address']="Nothing"
# all_dict['df']=all_df
all_dict['last_row']=len(all_dict['df'])
print(len(all_dict['df']))
with open(f'first{final}.pkl','wb') as f:
    pickle.dump(all_dict,f)

if pkl[0]:
    os.remove(pkl[0])
    print(f"{pkl[0]} has been deleted.")
else:
    print(f"{pkl[0]} does not exist.")

How many for this go around?  150

5492 5
5511 10
5534 15
5556 20
5565 25
5582 30
5605 35
5627 40
5648 45
5671 50
5688 55
5700 60